*{
	margin: 0;
	padding: 0;
}

.site-name{
	color: white;
	background-color: springgreen;
	padding: 0.5em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.235px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: springgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px springgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

form{
	width: 450px;
	border: 1.5px solid black;
	padding-inline: 1em;
	padding-block: 0.5em;
	margin: 0.5em;
}

#category{
	width: 93%;
	padding: 0.75em;
	margin-bottom: 0.75em;
}

.half-form{
	display:flex;
	justify-content: space-between;
}

#get-btn{
	width: 50px;
	background-color: springgreen;
	border-style: none;
	border-radius: 15px;
	color: white;
	font-weight: bolder;
}