<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Library</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{style.css}">
    </head>
    <body>
        <nav><h3 class="site-name">Book Library</h3></nav>
        <main>
            <form action="#" th:action="@{/library}" th:object="${bookQuery}">
                <input type="text" name="category" id="category" placeholder="Enter Category">
                <div class="half-form">
                    <label class="switch">
                        <input type="checkbox" name="sortByRating">
                        <span class="slider round"></span>
                    </label>
                    <button type="submit" id="get-btn">Get</button>
                </div>
            </form>
            
            <div class="book-list" th:each="book: ${books}">
				<div class="book" th:text="${book.name)"></div>
			</div>
        </main>
        
        <script src="" async defer></script>
    </body>
</html>